<div id="logo"><h1>Seohyun's Books</h1></div>
<div id="sidebar"><h2><%= link_to "Back", books_path %></h2></div>
&nbsp;

<div id="content">
  <h3>Editing <%= @book.book_name %></h3>
  <%= render :partial => "form", :locals => { :book => @book } %>
</div>

<div id="footer">Copyright Joan Magno | March 4 2013</div>
</div>
